[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytz = "==2018.5"
python-slugify = "==1.2.5"
pillow = "==5.2.0"
"argon2-cffi" = "==18.1.0"
redis = ">=2.10.5"
celery = "==4.2.1"
django = "==2.0.8"
django-environ = "==0.4.5"
django-model-utils = "==3.1.2"
django-allauth = "==0.36.0"
django-crispy-forms = "==1.7.2"
django-redis = "==4.9.0"
djangorestframework = "==3.8.2"
coreapi = "==2.3.3"
gunicorn = "==19.8.1"
"psycopg2" = "==2.7.4"
collectfast = "==0.6.2"
raven = "==6.9.0"
django-storages = {extras = ["boto3"], version = "==1.6.6"}
django-anymail = {extras = ["mailgun"], version = "==3.0"}
werkzeug = "==0.14.1"
ipdb = "==0.11"
sphinx = "==1.7.6"
"psycopg2-binary" = "==2.7.5"
pytest = "==3.7.1"
pytest-sugar = "==0.9.1"
"flake8" = "==3.5.0"
coverage = "==4.5.1"
factory-boy = "==2.11.1"
django-debug-toolbar = "==1.9.1"
django-extensions = "==2.1.0"
django-coverage-plugin = "==1.5.0"
pytest-django = "==3.3.3"
paramiko = "==1.14.0"
pycrypto = "==2.6.1"
django-pgcrypto = "==1.4.0"

[dev-packages]
